/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: black;
}

.nav-item,
.navbar-brand,
.lead {
  text-transform: uppercase;
  font-weight: 500;
  font-size: larger;
}

/*--------------------------------------------------------------
# background Styles
--------------------------------------------------------------*/

body,
.jumbotron {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/landing/test4.png") top right no-repeat;
  background-size: cover;
  position: relative;

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding-top: 80px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navbar .collapse {
  padding-top: 35px;
}
.collapse {
  padding-bottom: 3%;
}

.jumbotron {
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 10%;
}

.my-4 {
  width: 50%;
  margin: 0 25% 0 25%;
}
/* a.navbar-brand.link
 {
  color: red;
  padding-left: 10%; */
