/* <!-- ======= CSS Reset ======= -->*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background-color: rgb(0, 0, 0);
}

/* <!-- ======= CSS Reset End======= -->*/

/* <!-- ======= Hero Section  ======= -->*/

.hero {
  background-color: black;
  color: white;
  box-sizing: border-box;
  background: url(/Chays-scratch-kitchen/images/jumbotronpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

a {
  text-decoration: none;
}

.logo {
  color: white;
  line-height: 80px;
  padding: 0 100px;
  margin-top: 10px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
}
img  {
  width: 100px;
}

a:hover {
  background: grey;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  float: right;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}


#check {
  display: none;
}

.social-links {
  margin: 5%;
  font-size: 15px;
  padding-bottom: 40%;
}


@media (max-width: 952px) {
  label.logo {
    font-size: 100px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(29, 28, 42);
    top: 80px;
    left: -100%;
    text-align: center;
    margin-top: 50px;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover {
    background: none;
    color: rgb(139, 85, 3);
  }
  #check:checked ~ ul {
    left: 0;
  }
/* <!-- ======= End Of Hero Section ======= -->*/

/* <!-- =======  Our Special Section  ======= -->*/

.special-page{
  background-color: rgb(0, 0, 0);
  color: white;
  align-items: center;
}

.special-heading{
  text-align: center;
  margin-top: 10%;
  font-size: 100%;
  padding-bottom:10%;
  font-family: Zapfino;
}

.dish-title{
  font-size: 20px;
  padding-bottom: 15%;
}

.dish-describe{
  font-size: 13px;
}
.dish-description{
  background-color: rgb(214, 163, 129);
  width: 35%;
  text-align: center;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  margin: 10px;
}


.dish-item-description{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(26, 26, 26);
  width: 100%;
}

.dish-img img{
  width: 150px; 
}

/* <!-- =======  End Of Our Special Section  ======= -->*/

/* <!-- =======  Location Section  ======= -->*/



.location-section{
  color: white;
  text-align: center;
  background-image: url(/Chays-scratch-kitchen/images/location.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  background-position: center;
  font-size: 15px;
}

.location-tittle{
  font-size: 20px;
  font-family: Zapfino;
  margin-top: 50px;
    padding-top: 5%;

}



/* <!-- =======  End Of Location Section  ======= -->*/



.footer-section{
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
}

.contact-info{
  margin-top: 20px;
}


