/* <!-- ======= CSS Reset ======= -->*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: black;
}

/* <!-- ======= CSS Reset End======= -->*/

/* <!-- ======= Hero Section  ======= -->*/

/* header */

.header {
  background-color: black;
  width: 100%;
  z-index: 3;
  color: white;
  box-sizing: border-box;
  background: url(/Chays-scratch-kitchen/images/jumbotronpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

.header ul {
  padding-top: 20%;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header li a:hover,
.header .menu-btn:hover {
  color: white;
}

:hover .logo {
  cursor: pointer;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: right;
    padding-right: 10%;
  }
  .header li a {
    padding: 10px 10px;
  }

  .header .menu {
    clear: none;
    max-height: none;
    width: 100%;
  }
  .header .menu-icon {
    display: none;
  }
}

a {
  text-decoration: none;
}

.logo {
  color: white;
  line-height: 80px;
  padding-left: 20px;
  margin-top: 3%;
  padding-bottom: 5%;
}
img {
  width: 80px;
}

/* <!-- ======= End Of Hero Section ======= -->*/

/* <!-- =======  Our Special Section  ======= -->*/

.special-page {
  background-color: rgb(0, 0, 0);
  color: white;
  align-items: center;
}

.special-heading {
  text-align: center;
  margin-top: 10%;
  font-size: 100%;
  padding-bottom: 10%;
  font-family: Zapfino;
}

.dish-tittle {
  font-size: 15px;
  padding-bottom: 5%;
  padding-top: 10%;
}

.dish-describe {
  font-size: 10px;
  padding-top: 20px;
}
.dis-des {
  padding-top: 10px;
}

.dish-description {
  background-color: rgb(49, 49, 49);
  width: 30%;
  text-align: center;
  margin: 45px;
}

.dish-item-description {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(26, 26, 26);
  width: 100%;
}

.dish-img img {
  width: 200px;
}

/* <!-- =======  End Of Our Special Section  ======= -->*/

/* <!-- =======  Location Section  ======= -->*/

.location-section {
  color: white;
  text-align: center;
  background-image: url(/Chays-scratch-kitchen/images/location.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  background-position: center;
  font-size: 15px;
}

.location-tittle {
  font-size: 15px;
  font-family: Zapfino;
  padding-top: 5%;
  margin-top: 0px;
}
.location-address {
  padding-top: 1%;
}

/* <!-- =======  End Of Location Section  ======= -->*/

.footer-section {
  color: white;
  text-align: center;
  margin-top: 2%;
  font-size: 70%;
}

.contact-info {
  margin-top: 3%;
}

.fa-facebook-square,
.fa-envelope,
.bi-instagram {
  color: white;
  padding-top: 1%;
  margin: 1%;
}
